$background-color: var(--ion-color-primary);
$login-button-color: #0d1f22;
$white: #ffffff;

.pageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: $background-color;
  flex-direction: column;

  ion-text {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  ion-item {
    width: 100%;
    margin-bottom: 20px;
    background: rgba($color: $white, $alpha: 0.5);
    --background: rgba($color: $white, $alpha: 0.5);
  }

  ion-button {
    background: $login-button-color;
    --background: $login-button-color;
    height: 40px;
  }
}
